.gamePanel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/*---BOARD COMPONENT---*/
.gameBoard {
  display: grid;
  grid-auto-rows: 30px; /* Define a altura fixa das linhas */
  grid-gap: 0px; /* Adiciona um espaço entre as células */
  margin: 10px;
  padding: 10px;
  width: auto;
}

.cell {
  background-color: #d5e4eb;
  border: 0.1px solid #2d8bb7;
  width: 30px;
  height: 30px;
  font-weight: 600;
  cursor: pointer;
}

.cell:hover {
  background-color: #2d8bb7;
}

.boardRow {
  display: flex;
  flex-direction: row;
}
/*---BOARD COMPONENT---*/
