.gamePanel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 5px;
  margin-top: 5px;
}

.gamePanel span {
  margin-right: 10px; /* Espaçamento opcional entre os spans */
}

/*---BOARD COMPONENT---*/
.gameBoard {
  display: grid;
  grid-auto-rows: 30px;
  grid-gap: 0px; /* Adiciona um espaço entre as celulas */
  margin: 0px 10px 10px 10px;
  padding: 10px;
  width: auto;
  font-weight: 800;
}

.cell {
  background-color: #d5e4eb;
  border: 0.1px solid #2d8bb7;
  width: 30px;
  height: 30px;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.cell:hover {
  background-color: #2d8bb7;
}

.boardRow {
  display: flex;
  flex-direction: row;
}
/*---BOARD COMPONENT---*/
