.App {
  text-align: center;
  background-color: rgb(30, 129, 175);
  min-height: 100vh;
  min-height: 100vh;

  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.container {
  max-width: 1520px;
  min-height: 100vh;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
