.panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 65%;
  grid-template-rows: auto 1fr auto; /* Distribui o espaço verticalmente */
  background-color: rgba(240, 240, 240, 0.993);
  margin: 0 auto; /* Centraliza o painel horizontalmente */
  border-radius: 20px;
  padding: 10px;
}

/*---HEADER---*/

.logo {
  margin-top: 10px;
  font-size: 3rem;
  font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

.row {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr; /* Divide a linha em três colunas com proporções 1:2:1 */
  align-items: center;
}

.mineIcon,
.flagIcon {
  width: 75px;
  max-width: 100%;
  height: auto;
}

/*---HEADER---*/

/*---BUTTONS---*/

.actionBtns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.btnPlay,
.btnScoreboard,
.btnAbout {
  margin: 10px;
  border-radius: 5px;
  background-color: rgb(30, 129, 175);
  color: white;
  border-color: rgb(30, 129, 175);
  width: 150px;
}

.btnPlay:hover,
.btnScoreboard:hover,
.btnAbout:hover {
  background-color: rgb(17, 82, 112);
  color: white;
  transition: 0.3s;
  border-color: rgb(17, 82, 112);
}

.btnPlay:active,
.btnScoreboard:active,
.btnAbout:active {
  background-color: rgb(11, 48, 65);
  color: rgb(202, 201, 201);
  border-color: rgb(11, 48, 65);
}

/*---BUTTONS---*/

/*---FOOTER---*/

.footer {
  text-align: center;
  margin-top: 20px;
}

/*---FOOTER---*/

/*---RESPONSIVE CONFIG---*/

@media (max-width: 768px) {
  .panel {
    max-width: 100%;
  }

  .logo {
    font-size: 16pt;
  }

  .footer {
    font-size: 12pt;
  }
}

@media (max-width: 450px) {
  .panel {
    max-width: 100%;
  }

  .logo {
    font-size: 14pt;
  }

  .footer {
    font-size: 10pt;
  }
}

/*---RESPONSIVE CONFIG---*/
