.panel {
  display: grid;
  grid-template-rows: auto 1fr auto; /* Distribui o espaço verticalmente */
  background-color: rgba(240, 240, 240, 0.993);
  height: 80vh;
  max-width: 2000px; /* Defina um tamanho máximo para evitar que o painel fique muito largo em telas maiores */
  margin: 0 auto; /* Centraliza o painel horizontalmente */
  border-radius: 20px;
  padding: 10px; /* Adiciona um espaçamento interno */
}

.logo {
  margin-top: 10px; /* Aumenta o espaçamento superior para separar do painel */
  font-size: 3rem; /* Diminui o tamanho do texto do logo */
  font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center; /* Centraliza o texto */
}

.row {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr; /* Divide a linha em três colunas com proporções 1:2:1 */
  align-items: center; /* Centraliza verticalmente os itens */
}

.mineIcon,
.flagIcon {
  width: 75px;
  max-width: 100%; /* Ajusta a largura máxima das imagens para que elas diminuam de tamanho em telas menores */
  height: auto; /* Mantém a proporção */
}

.actionBtns {
  display: flex;
  flex-direction: column; /* Alinha os botões verticalmente */
  justify-content: center; /* Centraliza o container verticalmente */
  align-items: center; /* Centraliza os botões horizontalmente */
  margin-top: 20px; /* Adiciona um espaçamento superior */
}

.btnPlay,
.btnScoreboard,
.btnAbout {
  margin: 10px; /* Adiciona um pequeno espaçamento entre os botões */
  border-radius: 5px;
  background-color: rgb(30, 129, 175);
  color: white;
  border-color: rgb(30, 129, 175);
  width: 150px; /* Define uma largura fixa para os botões */
}

.btnPlay:hover,
.btnScoreboard:hover,
.btnAbout:hover {
  background-color: rgb(17, 82, 112);
  color: white;
  transition: 0.3s;
  border-color: rgb(17, 82, 112);
}

.btnPlay:active,
.btnScoreboard:active,
.btnAbout:active {
  background-color: rgb(11, 48, 65);
  color: rgb(202, 201, 201);
  border-color: rgb(11, 48, 65);
}

/* Adiciona um ajuste para telas menores */
@media (max-width: 768px) {
  .panel {
    max-width: 100%; /* Altera o tamanho máximo para ocupar toda a largura da tela em telas menores */
  }

  .logo {
    font-size: 16pt; /* Diminui o tamanho do texto do logo em telas menores */
  }

  .footer {
    font-size: 12pt;
  }
}

@media (max-width: 450px) {
  .panel {
    max-width: 100%; /* Altera o tamanho máximo para ocupar toda a largura da tela em telas menores */
  }

  .logo {
    font-size: 14pt; /* Diminui o tamanho do texto do logo em telas menores */
  }

  .footer {
    font-size: 10pt;
  }
}

.footer {
  text-align: center; /* Centraliza o texto */
  margin-top: 20px; /* Adiciona um espaçamento superior */
}
